{% extends "base_with_nav.html" %}
{% block content %}
    {% if template_values.add_site_form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in template_values.add_site_form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ template_values.add_site_form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Sites</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p>Here is a listing of sites that already exist.
                            You can edit, delete, or view details.</p>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#add_site">
                                Add New Site
                            </button>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in template_values.sites %}
                            <tr>
                                <td>{{ entry.id }}</td>
                                <td>
                                    <a href="{{ url_for('sites.site_details', site_id=entry.id) }}">
                                        {{ entry.name }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div>
        <div class="modal fade" id="add_site" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add New Site</h4>
                    </div>
                    <div class="modal-body">
                        <form method="POST" class="form-horizontal" role="form" action="{{ url_for('sites.all_sites') }}">
                            {{ template_values.add_site_form.hidden_tag() }}

                            <div class="form-group">
                                <label for="{{ template_values.add_site_form.id.id }}" class="control-label col-sm-2">{{ template_values.add_site_form.id.label }}</label>
                                <div class="col-sm-10">
                                    {{ template_values.add_site_form.id(size=30, class="form-control", placeholder="Unique ID for the site.") }}
                                </div>

                                <label for="{{ template_values.add_site_form.name.id }}" class="control-label col-sm-2">{{ template_values.add_site_form.name.label }}</label>
                                <div class="col-sm-10">
                                    {{ template_values.add_site_form.name(size=30, class="form-control", placeholder="Name of the new site.") }}
                                </div>
                            </div>

                            <input type="submit" class="btn btn-primary" value="Add New Site">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}