{% extends "base_with_nav.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ url_for('sites.site_details', site_id=template_values.site.id) }}">Details</a></li>
                <li><a href="{{ url_for('sites.site_comments', site_id=template_values.site.id) }}">Comments</a></li>
                <li><a href="{{ url_for('sites.site_threads', site_id=template_values.site.id) }}">Threads</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                {% for comment in template_values.site.comments %}
                    {{ macros.add_comment(comment) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}