{% extends "base_with_nav.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="{{ url_for('sites.site_details', site_id=template_values.site.id) }}">Details</a></li>
                <li><a href="{{ url_for('sites.site_comments', site_id=template_values.site.id) }}">Comments</a></li>
                <li><a href="{{ url_for('sites.site_threads', site_id=template_values.site.id) }}">Threads</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Site ID: </label>
                        <p class="col-sm-5">{{ template_values.site.id }}</p>
                    </div>
                    <div class="form-group">
                        <label for="siteNameInput" class="col-sm-2 control-label">Site Name:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="siteNameInput" placeholder="{{ template_values.site.name }}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}