{% extends "base_with_nav.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="{{ url_for('sites.site_details', site_id=template_values.site.id) }}">Details</a></li>
                <li><a href="{{ url_for('sites.site_comments', site_id=template_values.site.id) }}">Comments</a></li>
                <li><a href="{{ url_for('sites.site_threads', site_id=template_values.site.id) }}">Threads</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <form method="POST" class="form-horizontal" role="form" action="{{ url_for('sites.site_details', site_id=template_values.site.id) }}">
                    {{ template_values.edit_site_form.hidden_tag() }}

                    <div class="form-group">
                        <label class="control-label col-sm-2">Site ID: </label>
                        <p class="col-sm-5">{{ template_values.site.id }}</p>
                    </div>

                    <div class="form-group">
                        <label for="{{ template_values.edit_site_form.name.id }}" class="control-label col-sm-2">{{ template_values.edit_site_form.name.label }}</label>
                        <div class="col-sm-10">
                            {{ template_values.edit_site_form.name(size=30, class="form-control", placeholder=template_values.site.name) }}
                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary" value="Save Changes">
                </form>
            </div>
        </div>
    </div>
{% endblock %}